.carrinho{
    max-height: 400px;
    margin: 5px;
    padding-top: 20px;
}
.carrinho .card-body{
    padding: 0;
}

.title{ 
    text-align: center;
}

.lista{
    max-height: 200px;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.lista li{
    width: 100%;
}

.item-content{
    display: flex;
    align-items: center;
}
.item-content p{
    margin: 0;
    padding-left: 5px;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-img{
    width: 50px;
    height: 50px;
}

.total{
    display:flex;
    justify-content: space-between;
}

.card-body .total{
    font-size: 20px;
    margin: 20px;
}

.carrinho-title:first-letter {
    text-transform:capitalize;
}

.remover_item{
    border: none;
    background: none;
}